<%include partials/header%>

    <div style = "padding-top:4.5%">
                <div style = "margin-left:225px" >
                    <div style = "background-image: url(https://img.washingtonpost.com/rf/image_1024w/2010-2019/WashingtonPost/2011/10/03/Style/Images/deal1008ticket.tif?uuid=8vbD_O4REeCBjMDNCiaRsA); height: 600px; width:1500px; background-repeat : no-repeat">
  
                <div style = "padding-top: 12%">
                    <div style = "padding-right:450px">
                    <h1 style = "text-align:center"><i class="fas fa-film"></i> Movie Review!!</h1>
                    
                    <p style = "text-align:center">Welcome To Movie Review</p>
                    <div style= "width:30%; margin: 40 auto">
                        <form  action = "/results" method = "GET">
                            <div class = "form-group">
                                <input class = "form-control" "form-control form-rounded" type = "text"   placeholder = "Search for a Movie" name = "search">
                            </div>
                            
                            
                            <div class = "form-group">
                                <button class="ui fluid black button">Search</button>
                            </div>
                        </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>    
    </div>
</div>
<%include partials/footer%>